/* 
    Document   : parkoil
    Created on : Sep 27, 2013, 3:35:59 PM
    Author     : edmunds
    Description:
        Purpose of the stylesheet follows.
*/



table tr.even {
    background: none repeat scroll 0 0 #F8F8F8;
}
table tr.odd {
    background: none repeat scroll 0 0 #E5F1F4;
}
table tr.selected {
    background: none repeat scroll 0 0 #BCE774;
}
table tr.selected:hover {
    background: none repeat scroll 0 0 #CCFF66;
}
table tbody tr:hover {
    background: none repeat scroll 0 0 #ECFBD4;
}

table.toolbar tbody tr:hover
{
  background:none;  
}

.grid-view .numeric-column {
    text-align:right;
    width:50px;
    font-family: Monaco, Menlo, "Courier New", monospace;
}

.grid-view .total-row {
    text-align:right;
    font-weight:bold;
}

div.search-form{
    
    width: 280px;
    display: inline-block;

}




