/* 
    Document   : dev
    Created on : 2013.9.11, 09:11:07
    Author     : Dealer
    Description:
        Purpose of the stylesheet follows.
*/

body{background: turquoise;}

.container { 
    background: white;
}

